CSF_APP_ENV=production
CSF_APP_DEBUG=0

CSF_DB_HOST=localhost
CSF_DB_PORT=3306
CSF_DB_NAME=u311361615_csf
CSF_DB_USER=u311361615_admin
CSF_DB_PASS=

CSF_DEFAULT_ADMIN_EMAIL=admin@consaborflamenco.com
CSF_DEFAULT_ADMIN_PASSWORD=Admin1234!
